@import '~bootstrap/scss/bootstrap';


body {
    min-height: 100vh;
    background-color: #444;
    color: white;
}

header {
    background-color: #222;
}

.card {
    border: none;
    color: white;
}

.card-header {
    background-color: #0d6efd;
    border: none;

}

.card-body {
    background-color: #6c757d;
    border: none;
}